@import "../../../../styles/lib/all";

.BigButton{
    position: relative;
    display: inline-block;
    width: 100%;

    .bigbtn-wrapper{
        height: 100%;
        width: 100%;
        
        a{  
            height: 100%;
            text-decoration: none;
            .btn-text{
                background-color: $btn-gray;
                color: $text-color;
                height: 100%;
            }
            
        }
    }
}

@media screen and (min-width: 0px) and (max-width: $mobile) {
    .BigButton {
        padding-left: 7rem;
        padding-right: 4em;
        height: 6vh;
        .bigbtn-wrapper{

            a{
                font-size: 1.5rem;
            }
        }
    }
}
@media screen and (min-width: $mobile + 1) and (max-width: $tablet) {
    .BigButton {
        padding-left: 9rem;
        padding-right: 5em;
        height: 8vh;
        .bigbtn-wrapper{

            a{
                font-size: 2.5rem;
            }
        }
    }
}
@media screen and (min-width: $tablet + 1) {
    .BigButton {
        padding-left: 11rem;
        padding-right: 7em;
        height: 10vh;
        .bigbtn-wrapper{

            a{
                font-size: 3.5rem;
            }
        }
    }
}