@import "../../../../styles/lib/all";

.BigButton{
    position: relative;
    display: inline-block;
    width: 100%;

    .bigbtn-wrapper{
        height: 100%;
        width: 100%;
        
        a{  
            height: 100%;
            text-decoration: none;
            .btn-text{
                background-color: $btn-gray;
                color: $text-color;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            
        }
    }
}

@media screen and (min-width: 0px) and (max-width: $mobile) {
    .BigButton {
        padding-left: 8rem;
        height: 5.1rem;
        .bigbtn-wrapper{
            a{
                font-size: 1.4rem;
            }
        }
    }
}

@media screen and (min-width: $mobile + 1) and (max-width: $tablet) {
    .BigButton {
        padding-left: 13.5rem;
        height: 8vh;
        .bigbtn-wrapper{
            a{
                font-size: 1.6rem;
            }
        }
    }
}
@media screen and (min-width: $tablet + 1) {
    .BigButton {
        padding-left: 16.5rem;
        height: 10vh;
        .bigbtn-wrapper{

            a{
                font-size: 1.8rem;
            }
        }
    }
}