@import "../../styles/lib/all";

.Company {
    position: relative;
    height:100%;

    .company-content {
        height: 100%;
        position: relative;
    }

    .company-text {
        @include text;
    }
}

@media screen and (min-width: 0px) and (max-width: $mobile) {
    // FIXME: 디스플레이 배율이 아닌 고정값 사용.
    // 모바일에는 vh가 아닌 rem을 주었다.
    // padding-left 는 80px, right 24px을 주려고함

    .Company {
        margin-top: 6.3rem;
        .company-text{
            font-size: 1.4rem;
            padding-left: 8rem;
            padding-right: 4rem;
            padding-top: 5rem;
        }
    }
}

@media screen and (min-width: $mobile + 1) and (max-width: $tablet) {
    .Company {
        margin-top: 15vh;

        .company-text{
            font-size: 1.6rem;
            padding-left: 13.5rem;
            padding-right: 4.5rem;
            padding-top: 6rem;
        }
    }
}

@media screen and (min-width: $tablet + 1) {
    .Company {
        margin-top: 20vh;

        .company-text{
           font-size: 1.8rem;
           padding-left: 16.5rem;
           padding-right: 5rem;
           padding-top: 7rem;
        }
    }
}

