@import "../../styles/lib/all";

.Service {
    position: relative;
    height: 100%;

    .container-content{
        position: relative;
        width: 100%;
        height: 100%;
    }

    .service-content{
        height: 100%;
        position: relative;
    }
    
}

@media screen and (min-width: 0px) and (max-width: $mobile) {
    // FIXME: 디스플레이 배율이 아닌 고정값 사용.
    // 모바일에는 vh가 아닌 rem을 주었다.
    // padding-left 는 80px, right 24px을 주려고함
    .Service {
        margin-top: 10rem;
        .service-content{
            font-size: 1.8rem;
            padding-left: 5rem;
            padding-right: 1.5rem;
        }
    }
}

@media screen and (min-width: $mobile + 1) and (max-width: $tablet) {
    .Service {
        margin-top: 15vh;
        .service-content{
            padding-left: 9rem;
            padding-right: 5rem;
        }
    }
}

@media screen and (min-width: $tablet + 1) {
    .Service {
        margin-top: 20vh;
        .service-content{
            padding-left: 11rem;
            padding-right: 7rem;
        }
    }
}

