@import "../../styles/lib/all";

.Advertise {
    position: relative;
    height: 100%;   

    .advertise-wrapper {
        height: 100%;
        position: relative;

        .advertise-content {
            height: 100%;
            width: 100%;
            position: relative;
        }
    }
}

@media screen and (min-width: 0px) and (max-width: $mobile) {
    .Advertise {
        margin-top: 8.3rem;
        .advertise-content{
            padding-left: 8rem;
            padding-right: 4rem;
            padding-top: 5rem;

            .advertise-main-text{
                font-size: 1.4rem;
                margin-bottom: 1.6rem;
            }
            .advertise-text{
                @include text;
                font-size: 1.4rem;
                margin-bottom: 30px;
            }

        }
    }
}

@media screen and (min-width: $mobile + 1) and (max-width: $tablet) {
    .Advertise {
        margin-top: 15vh;
        .advertise-content{
            padding-left: 13.5rem;
            padding-right: 4.5rem;
            padding-top: 5rem;

        }
        .advertise-main-text{
            font-size: 1.6rem;
            margin-bottom: 30px;
        }
        .advertise-text{
            @include text;
            font-size: 1.6rem;
            margin-bottom: 30px;
        }
    }
}

@media screen and (min-width: $tablet + 1) {
    .Advertise {
        margin-top: 20vh;
        .advertise-content{
            padding-left: 11rem;
            padding-right: 7rem;
        }
        .advertise-main-text{
            font-size: 4rem;
            margin-bottom: 30px;
        }
        .advertise-text{
            @include text;
            font-size: 3rem;
            margin-bottom: 30px;
        }
    }
}

