@import "../../styles/lib/all";

.Team{
    position: relative;
    height: 100%;
    .team-wrapper{
        height: 100%;
    }

}

//TODO: margin-top vh 단위 모두 바꾸기

@media screen and (min-width: 0px) and (max-width: $mobile) {
    .Team {
        margin-top: 10vh;
    }
}

@media screen and (min-width: $mobile + 1) and (max-width: $tablet) {
    .Team {
        margin-top: 15vh;
    }
}

@media screen and (min-width: $tablet + 1) {
    .Team {
        margin-top: 20vh;
    }
}