@import "../../../styles/lib/all";

.Subservice{
    position: relative;
    height: 60%;

    .service-main-text {
        
    }

    .service-link{
        color: $text-color;
        text-decoration: none;
    }

    .service-text {
        @include text;
        margin-top: 30px;
    }
}

@media screen and (min-width: 0px) and (max-width: $mobile) {
    .Subservice {
        .service-main-text{
            font-size: 2rem;
        }
        .service-link{
            font-size: 1.5rem;
        }
        .service-text{
            font-size: 2rem;
            right: 20vw;
        }
    }
}
@media screen and (min-width: $mobile + 1) and (max-width: $tablet) {
    .Subservice {
        .service-main-text{
            font-size: 2.5rem;
            display: inline;
        }
        .service-link{
            font-size: 2rem;
            right: 20vw;
        }
        .service-text{
            font-size: 2.5rem;
            right: 15vw;
        }
    }
}
@media screen and (min-width: $tablet + 1) {
    .Subservice {
        .service-main-text{
            font-size: 3rem;
            display: inline;
        }
        .service-link{
            font-size: 2.5rem;
            right: 20vw;
        }
        .service-text{
            font-size: 3rem;
            right: 10vw;
        }
    }
}