@import "../../../styles/lib/all";

.Subtitle{
    margin-top: 100px;
    position: relative;

    .small-square{
        position: absolute;
        left: -10px;
        background-color: $dark-gray;
        transform: rotate(40deg);
    }

    h2{
        position: absolute;
        font-weight: 800;
        word-break: keep-all;
    }
}

@media screen and (min-width: 0px) and (max-width: $mobile) {
    .Subtitle {
        .small-square {
            width: 25px;
            height: 25px;
        }

        h2{
            font-size: 3.5rem;
            width: 9rem;
        }
    }
}
@media screen and (min-width: $mobile + 1) and (max-width: $tablet) {
    .Subtitle {
        .small-square {
            width: 30px;
            height: 30px;
        }
    }
    h2{
        font-size: 4.5rem;
        width: 12rem;
    }
}
@media screen and (min-width: $tablet + 1) {
    .Subtitle {
        .small-square {
            width: 35px;
            height: 35px;
        }
    }
    h2{
        font-size: 5.5rem;
        width: 15rem;
    }
 }