@import "../../styles/lib/all";

.News {
    position: relative;
    height: 100%;
}

@media screen and (min-width: 0px) and (max-width: $mobile) {
    .News {
        margin-top: 10vh;
        .news-wrapper{
            .news-content{
                padding-left: 8rem;
            }
        }
    }
}

@media screen and (min-width: $mobile + 1) and (max-width: $tablet) {
    .News {
        margin-top: 15vh;
        .news-wrapper{
            .news-content{
                padding-left: 9rem;
            }
        }
    }
}

@media screen and (min-width: $tablet + 1) {
    .News {
        margin-top: 20vh;
        .news-wrapper{
            .news-content{
                padding-left: 11rem;
            }
        }
    }
}
